{% extends 'base.html.twig' %}

{% block title %}Tous les programmes{% endblock %}

{% block body %}



    <h1>Toutes les séries de la table program : </h1>
    {% for program in programs %}
        <h2>{{ loop.index }} /  - Catégorie : {{ program.category.name }}</h2>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">{{ program.title }}</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"></th>
                <td>{{ program.summary }}</td>

            </tr>
        </table>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
    

    
{% endblock %}
